@charset "UTF-08"; 
body {
    background-color: rgb(27, 223, 60);
    font: normal 15pt Arial;
}
header {
    color: white;
}

header {
    color: rgb(3, 3, 5);
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.856);
}
footer {
    color: rgb(14, 9, 9);
    text-align: center;
    font-style: italic;

}