@charset "UTF-08"; 
body {
    background-color: rgb(11, 199, 11);
    font: normal 15pt Arial;
}
header {
    color: white;
}

header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.856);
}
footer {
    color: rgb(17, 1, 1);
    text-align: center;
    font-style: italic;

}
h1{
    color: black;
}